body {
    color: black;
    background: rgb(213, 213, 255);
}

Header {
border: solid 2px rgb(18, 6, 122);
padding: 20px;
font-size: 32px;
color:rgb(113, 6, 122);

}

section{
background: rgb(241, 184, 255);
padding-bottom: 80px; 
padding-top: 80px; 
display: flex;
justify-content: center;

}

.chamada-texto {
margin-right: 20px;

}



